/* Fonts */
@font-face {
  font-family: Avenir;
  src: url(/font/AvenirNext-Regular.ttf)
}

@font-face {
  font-family: Avenir-DemiBold;
  src: url(/font/AvenirNext-DemiBold.ttf)
}

strong {
  font-family: Avenir-DemiBold;
}

/* Typography */
h1 {
  font-family: Avenir-Demibold;
  font-size: 200%;
}

/* Body */
body {
  font-family: Avenir;
  background-color: #fff;
}

/* Nav */
.top-bar {
  background-color: transparent;
  color: white
}

.top-bar .menu {
  background-color: transparent;
}

.top-bar .menu .menu-text {
  font-family: Avenir-DemiBold;
}

.top-bar .menu li a {
  color: white;
}

/* Buttons */
.button {
  background: transparent;
  border: 1px solid white;
}

.button:hover {
  background: white;
  color: black;
}

.button:focus {
  background: white;
  color: black;
}

/* Alignment */
.sc-vc-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.sc-vc-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

