body {
  background: url(../img/cover.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

h1 {
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 150px;
  margin-top: 20px;
  font-size: 110%;
}

.sc-cover-content {
  margin-top: 180px;
  padding: 20px;
}